* {
    font-family: Arial, sans-serif;
}

body {
    background-color: #3636cf;
}

/* Image centering */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
